<!-- timecard.ejs -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>copyright year</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>


</body>

<footer>
<p>© acme.com <%= yearNow %></p>
</footer>

</html>
